<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <header>
        <brand>
            {{user}}'s Portfolio
        </brand>
        <nav>
            <ul >
                <li v-for="link in links">{{link}}</li>
            </ul>
        </nav>
    </header>
    <main>
        <container>
            <h1>All Books</h1>
                <div class="row row-cols-1 row-col-sm-2 row-cols-lg-5 g-3 g-lg-3">
                    <div class="col" v-for="book in books"> 
                        <div class="card" style=" margin-top:10px">
                            <!-- <img src={{book.img}} class="card-img-top" alt="..."> -->
                            <div class="card-body">
                            <h5 class="card-title">{{book.id}} {{book.title}}</h5>
                            <p class="card-text">{{book.description}}</p>
                            <a href="#" class="btn btn-primary">read more</a>
                            </div>
                        </div>
                    </div>
                </div>
        </container>
    </main>
    
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>